/*
Copyright © Jan Kubát 2021 - present
api.mapy.cz
*/

html, body {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#mapa {
    width: 100vw;
    height: 100vh;
}

.search {
    margin: 5px 5px 0px 0px;
    right: 0;
    position: absolute;
    z-index: 10;
}

/*SIDEBAR*/
body {
    margin: 0;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 2;
}

#btnSidebar {
    position: absolute;
    right:    0;
    bottom:   0;
}

#btnLogout {
    position: absolute;
    left:     0;
    bottom:   0;
    margin: 5px;
}

