/*
Copyright © Jan Kubát 2021 - present
api.mapy.cz
*/

body, html {
    height: 100%;
}

.bg-image {
    background-image: url("../img/bgMaps.png");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgb(236, 236, 236);
    filter: drop-shadow(10px 10px 0px #198754);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 400px;
    padding: 20px;
}