.btnProfile {
    width: 3em;
    height: 3em;
    z-index: 2;
    position: relative;
    background: green;
    border-radius: 10%;
    bottom: 3.25em;
    float: right;
    right: 0.25em;
}

#hillPage {
    position: relative;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background: black;
}

.btnProfile > * {
    padding: 33%;
}

a, a:hover {
    color: inherit;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.sidebar {
    width: 20vw;
    height: 100%;
    position: relative;
    z-index: 20;
    background-color: white;
}