:root {
    --c1: #114b5f;
    --c2: #028090;
    --c3: #ebebeb;
}

body {
    background-color: var(--c3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden !important;
    margin: auto;
}

button {
    cursor: pointer;
}

table {
    border:1px solid black;
}

th, td {
    border-bottom: 1px solid black;
}

form {
    border: 2px solid var(--c1);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: var(--c2);
    color: white;
}

label {
    float: left !important;
}

input {
    width: 25vw;
    font-size: 2em;
    padding: 5px;
    border-radius: 5px;
}

a, a:hover {
    color: inherit;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: var(--c2);
    color: white;
}

.navbrand {
    font-size: xx-large;
    margin-left: 20px;
}

.navbar-item {
    display: inline;
    margin: 0px 5px 0px 5px;
}

.header {
    background-image: url('./img/header.jpg');
    height: 60vh;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.header-content {
    background-color: var(--c1);
    padding: 20px;
}

.header-content-heading {
    font-weight: bold;
    font-size: xx-large;
}

.register-form {
    width: 30vw;
}

.register-form > form {
    border: none;
    border-radius: 0px;
}

.register-form input {
    width: 25vw;
    font-size: 1.2em;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 0px;
    border: none;
}

.btn {
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    background-color: var(--c1);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.btn-admin {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    z-index: 999;
}

.btn-profile {
    width: 3em;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
}

.climbed {
    max-height: 25vh;
    overflow: scroll;
    overflow-x: hidden;
}

.notClimbed {
    max-height: 25vh;
    overflow: scroll;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

#btnClaimHill {
    background-color: var(--c2);
}

#map {
    z-index: -999;
    overflow: hidden;
}

.clickMap {
    z-index: -999;
}

#reviews {
    overflow-y: auto;
    margin-bottom: 5em;
}

.bottom {
    bottom: 0;
    z-index: 999;
    position: fixed;
}

.bottomItems {
    display: flex;
    justify-content: space-evenly;
    width: 27em;
    padding: 10px;
    background-color: var(--c3);
}

.sidebar {
    width: 27em;
    height: 100vh;
    z-index: 999;
    position: absolute;
    background: var(--c3);
    left: 0;
    padding: 10px;
    overflow: auto;
    max-height: 100vh;  
}

.hill {
    margin: 5px;
}

.card {
    margin-top: 10px;
    overflow-y: auto;
}

.btn-hoverable {
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    background-color: var(--c1);
    color: white;
    width: 8em;
    height: 2em;
    transition: 0.5s;
}

.btn-hoverable:hover {
    width: 9em;
    height: 3em;
    cursor: pointer;
    transition: 0.5s;
}

.input {
    margin-top: 10px;
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}