:root {
    --c1: #114b5f;
    --c2: #028090;
    --c3: #ebebeb;
}

.wrapper {
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

form {
    border: 2px solid var(--c1);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: var(--c2);
    color: white;
}

.btn-hoverable {
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    background-color: var(--c1);
    color: white;
    width: 8em;
    height: 2em;
    transition: 0.5s;
}

.btn-hoverable:hover {
    width: 9em;
    height: 3em;
    cursor: pointer;
    transition: 0.5s;
}

label {
    float: left !important;
}

.input {
    margin-top: 10px;
}

input {
    width: 25vw;
    font-size: 2em;
    padding: 5px;
    border-radius: 5px;
}