.btnAdmin {
    z-index: 999;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    background-color: var(--c1);
    color: white;
    height: 2em;
    width: 4em;
    padding: 10px;
    margin: 5px;
    transition: 0.5s;
}

.btnAdmin:hover {
    transition: 0.5s;
    height: 3em;
    width: 5em;
    cursor: pointer;
}

.btn {
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    background-color: var(--c1);
    color: white;
    padding: 10px;
}

#btnClaimHill {
    background-color: var(--c2);
}

.map {
    z-index: -999;
    overflow: hidden;
}

.clickMap {
    z-index: -999;
}

.btnProfile > * {
    padding: 33%;
}

#reviews {
    overflow-y: auto;
    margin-bottom: 5em;
}

.bottom {
    bottom: 0;
    z-index: 999;
    position: fixed;
}

.bottomItems {
    display: flex;
    justify-content: space-evenly;
    width: 27em;
    padding: 10px;
    background-color: var(--c3);
}

a, a:hover {
    color: inherit;
}

body {
    overflow: hidden !important;
}

.sidebar {
    width: 27em;
    height: 100vh;
    z-index: 999;
    position: absolute;
    background: var(--c3);
    left: 0;
    padding: 10px;
    overflow: auto;
    max-height: 100vh;  
}

.hill {
    margin: 5px;
}

.card {
    margin-top: 10px;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}