.btnAdmin {
    z-index: 999;
    position: absolute;
    background: green;
    border-radius: 10%;
    bottom: 0;
    right: 0;
}

.map {
    z-index: -999;
}

.clickMap {
    z-index: -999;
}

.btnProfile > * {
    padding: 33%;
}

a, a:hover {
    color: inherit;
}

body {
    overflow: hidden;
}

.sidebar {
    width: 30vw;
    height: 100%;
    z-index: 999;
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    left: 0;
}

.hill {
    margin: 5px;
}